$primary-color: #e57817;
$text-primary-color: rgb(63, 63, 63);
$text-secondary-color: rgb(144, 144, 144);
$gray-color: rgb(218, 218, 218);
$white-color: rgb(255, 255, 255);
$green-color: #b2e778;
$yellow-color: #eee965;
$orange-color: #ffb16b;
$black-color: #000000;

$block-box-shadow: 10px 10px 30px rgba(142, 142, 142, 0.25);
